@font-face {
  src: url("../static/fonts/Lexend-SemiBold.ttf");
  font-family: "Lexend";
  font-weight: 600;
}

@font-face {
  src: url("../static/fonts/Lexend-Medium.ttf");
  font-family: "Lexend";
  font-weight: 500;
}

@font-face {
  src: url("../static/fonts/Lexend-Regular.ttf");
  font-family: "Lexend";
  font-weight: 400;
}

@font-face {
  src: url("../static/fonts/FuturaCyrillicBook.ttf");
  font-family: "Futura PT";
  font-weight: 450;
}